<li id="<%= dom_id(player) %>">
  <%= player.name %>

   <%= link_to "Remove Player",
      player_path(player),
      data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>

</li>
