<turbo-stream action="append" target="matches-list">
  <template>
    <%= render partial: "matches/match",
               formats: [:html],
               locals: { match: @match } %>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="match-form">
  <template>
    <%= link_to "Add Match", new_match_path %>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="flash">
  <template>
    <div class="flash notice">
      <%= flash.now[:notice] %>
    </div>
  </template>
</turbo-stream>